canvas {
  position: fixed;
  top: 0;
  left: 0;
  background: url('pexels-francesco-ungaro-998641-space.jpg') no-repeat center center;
  background-size: cover;
}
#canvas-text {
  text-transform: capitalize;
  font-family: Arial, 'Trebuchet MS', Times;
  Font-weight: bolder;
  color: #fff;
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 10px;
}